/*             COLOR PALLETE - Coastal Serenity
White Sand (#F5F5DC): Neutral color for text and secondary elements.
Deep Blue (#1E3D59): Dominant color for the background or large sections.
Turquoise (#40E0D0): Accent color for buttons, links, and highlights.
Lemon Yellow (#FFF44F): Accent color for buttons, links, and highlights.
Terracotta (#E2725B): Accent color for buttons, links, and highlights.*/

:root {
  --color-bg: #01173c;
  --color-bg2: #f5f5dc;
  --color-text: #1e3d59;
  --color-higthligt1: #e2725b;
  --color-higthligt2: #fff44f;
  --color-higthligt-alternative: #40e0d0;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-bg2);
}
/*HEADER (start)*/
.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(/images/Hero/header.jpg);
}
header {
  text-align: center;
  padding: 150px 0;
}
header h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
}
h1 {
  font-size: 90px;
  margin: 60px 0;
}
header h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  margin: 0;
}
header p {
  margin: 0 350px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  opacity: 0.7;
  text-align: center;
}
header a {
  font-weight: 400;
  font-size: 50px;
  text-decoration: none;
  color: var(--color-bg2);
  animation: blink-animation 1.5s steps(2, start) infinite;
}
header a:hover {
  color: var(--color-higthligt1);
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  header {
    padding: 100px 0;
  }
  header h2 {
    font-size: 14px;
  }
  h1 {
    font-size: 60px;
    margin: 40px 0;
  }
  header h3 {
    font-size: 25px;
  }
  header p {
    display: none;
  }
}
@media (max-width: 1024px) {
  header p {
    margin: 0 100px;
  }
}
/*HEADER (end)*/
/*FOOTER (start)*/
.footer-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(/images/Hero/header.jpg);
}
footer {
  padding: 75px 0;
  opacity: 0.7;
}
.grid-3-col {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 20px;
}
footer h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  opacity: 1;
  text-align: start;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer a {
  color: var(--color-higthligt-alternative);
  text-decoration: none;
}
footer a:hover {
  color: var(--color-higthligt-alternative);
  text-decoration: underline;
}
@media (max-width: 768px) {
  footer {
    padding: 30px 20px;
  }
  .grid-3-col {
    grid-template-columns: 1fr;
  }
  footer h2 {
    font-size: 14px;
    text-align: start;
  }
  footer p {
    font-size: 12px;
    line-height: 20px;
  }
}
/*FOOTER (end)*/
/*MAIN (start)*/

main {
  background-color: var(--color-bg2);
  margin: 0 20px;
  padding: 20px;
  padding-top: 80px;
}
h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
}
h3 {
  text-align: center;
  font-size: 38px;
  line-height: 1.5;
  margin-top: 50px;
  margin-bottom: 20px;
}
h4 {
  text-align: center;
  margin: 10px 0;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
}
a {
  color: var(--color-higthligt1);
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
li {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  h2 {
    font-size: 40px;
  }
}
/*Scenic Beauty section (start)*/
.why-visit img {
  padding: 48px;
}
.grid-4-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.small-card {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  padding: 10px;
}
.small-card p {
  opacity: 0.7;
  text-align: center;
}
.small-card a {
  font-size: 12px;
  line-height: 1.5;
  opacity: 0.9;
  display: flex;
  justify-content: end;
}
.small-card a:hover {
  color: var(--color-higthligt2);
}
@media (max-width: 768px) {
  .why-visit img {
    padding: 20px;
  }
  .why-visit h3 {
    font-size: 20px;
    margin-top: 20px;
  }
  .grid-4-col {
    grid-template-columns: 1fr 1fr;
  }
  .why-visit p {
    font-size: 12px;
    line-height: 1.25;
  }
}
/*Scenic Beauty section (end)*/
/*Culinary deligths section (start)*/
.grid-4-col-especial {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10px;
}
h3.culinary-delights {
  margin-top: 100px;
  margin-bottom: 40px;
}
.culinary-delights p {
  margin-top: 40px;
  font-size: 22px;
}
.culinary-delights li {
  font-size: 18px;
}
@media (max-width: 768px) {
  .grid-4-col-especial {
    grid-template-columns: 1fr;
  }
  h3.culinary-delights {
    margin-bottom: 0;
    margin-top: 50px;
  }
  .culinary-delights p {
    margin-top: 20px;
    font-size: 16px;
  }
  .culinary-delights li {
    font-size: 14px;
  }
}
/*Culinary deligths section (end)*/
/*Rich Culture and History - Adventure and Relaxation(start)*/
.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.embed {
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
}
.button1 {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 40px 200px;
}
.button1:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  .grid-2-col {
    grid-template-columns: 1fr;
  }
  .button1 {
    padding: 20px 10px;
    font-size: 12px;
    margin: 40px 90px;
  }
}
/*Rich Culture and History - Adventure and Relaxation(end)*/
/*Contact (start)*/
.contact {
  padding: 48px;
}
.contact p {
  font-size: 20px;
  padding: 48px;
}
.contact h4 {
  margin-bottom: 20px;
  text-align: center;
}
p.social-media {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.social-media a {
  color: #ff4500;
  text-decoration: none;
  transition: color 0.3s ease;
}
.social-media a:hover {
  color: #0056b3;
}

button {
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 26px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
button:hover {
  background-color: #cc3700;
}
.form-container {
  background-color: #40e0d057;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}
.form-container h4 {
  color: #333333;
}
.form-container form {
  display: flex;
  flex-direction: column;
}
.form-container label {
  color: #333333;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-container input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 12px;
  color: #333333;
  background-color: #ffffff;
}
.form-container button {
  background-color: #e2725b;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-container button:hover {
  background-color: #c25a45;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
/*Contact (end)*/
/*MAIN (end)*/
